Repository zsxoff/dependency-injector-grpc-example: changes, and which lefthook commands are due for each by the changed paths.
All: bandit, ruff-format-isort, ruff-format, ruff-check, ruff, mypy, pyright, uv-lock

bandit:
  tags: security,python
  run: bandit -c pyproject.toml {staged_files}

ruff-format-isort:
  tags: format,python
  run: ruff check --preview --force-exclude --select I --fix {staged_files}

ruff-format:
  tags: format,python
  run: ruff format --preview --force-exclude {staged_files}

ruff-check:
  tags: format,python
  run: ruff format --preview --force-exclude --check {staged_files}

ruff:
  tags: lint,python
  run: ruff check --preview --force-exclude {staged_files}

mypy:
  tags: lint,python
  run: mypy --config-file pyproject.toml {staged_files}

pyright:
  tags: lint,python
  run: pyright {staged_files}

uv-lock:
  tags: lock,python
  run: uv lock && git add uv.lock

chore: add certs for local testing
  certs/Makefile
  certs/README.md
  certs/cnf/ca.cnf
  certs/cnf/client.cnf
  certs/cnf/server.cnf
Due: none

feat: add gRPC service example
  Makefile
  organizer/note/v1/note_service.proto
  organizer/note/v1/note_service_pb2.py
  organizer/note/v1/note_service_pb2.pyi
  organizer/note/v1/note_service_pb2_grpc.py
Due: none

feat: add base gRPC client example
  src/__init__.py
  src/client/__init__.py
  src/client/__main__.py
  src/client/client.py
  src/client/config.py
Due: bandit, ruff-format-isort, ruff-format, ruff-check, ruff, mypy, pyright

feat: in config replace BaseModel to BaseSettings and simplify env
  .env.example
  src/client/client.py
  src/client/config.py
Due: bandit, ruff-format-isort, ruff-format, ruff-check, ruff, mypy, pyright

chore: update dev packages
  pyproject.toml
  uv.lock
Due: uv-lock

chore: update comments
  src/client/__main__.py
Due: bandit, ruff-format-isort, ruff-format, ruff-check, ruff, mypy, pyright

feat: client refactoring and add server config
  .env.example
  src/base/__init__.py
  src/base/channel.py
  src/base/config/__init__.py
  src/base/config/client.py
  src/base/config/server.py
  src/client/__main__.py
Due: bandit, ruff-format-isort, ruff-format, ruff-check, ruff, mypy, pyright

Path conditions:
  bandit: any of: {*.py,*.pyi}, but not: (_pb2_grpc\.py|_pb2\.pyi|_pb2\.py)$
  ruff-format-isort: any of: {*.py,*.pyi}, but not: (_pb2_grpc\.py|_pb2\.pyi|_pb2\.py)$
  ruff-format: any of: {*.py,*.pyi}, but not: (_pb2_grpc\.py|_pb2\.pyi|_pb2\.py)$
  ruff-check: any of: {*.py,*.pyi}, but not: (_pb2_grpc\.py|_pb2\.pyi|_pb2\.py)$
  ruff: any of: {*.py,*.pyi}, but not: (_pb2_grpc\.py|_pb2\.pyi|_pb2\.py)$
  mypy: any of: {*.py,*.pyi}, but not: (_pb2_grpc\.py|_pb2\.pyi|_pb2\.py)$
  pyright: any of: {*.py,*.pyi}, but not: (_pb2_grpc\.py|_pb2\.pyi|_pb2\.py)$
  uv-lock: any of: {pyproject.toml,uv.lock}
